<div class="container">
    <div class="cliente">
        <h5>Cliente: {{ this.pedidosService.pedido.nombreCliente }} </h5>
        <h6>Total: {{ this.pedidosService.pedido.totalDelPedido | currency }} </h6>
    </div>
    <div class="detalle">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of this.pedidosService.pedido.pedidoDetalle">
                <td> {{ pedido.productoId }} </td>
                <td> {{ pedido.nombre }} </td>
                <td> {{ pedido.cantidad }} </td>
                <td> {{ pedido.precio | currency }} </td>
                <td> {{ pedido.total | currency }} </td>
              </tr>              
            </tbody>
          </table>
    </div>

</div>
