<div class="container mt-5"> 
    <form  class="form-group">        
        <input class="form-control" type="text" (input)="buscarProducto($event)" placeholder="Buscar producto">
    </form>
    <button class="btn btn-primary" [routerLink]="['/agregar-producto']" >Agregar producto</button>

    <div class="row mt-5">
        <div class="col-sm-3 " *ngFor="let producto of productos">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> {{producto.nombre}} </h5> 
                  <h6 class="card-subtitle"> {{producto.productoId}}  </h6>                 
                  <p class="card-text"> {{producto.descripcion}} </p>
                  <p class="card-text"> {{producto.precio | currency}} </p>
                  <a (click)="agregar(producto)" class="card-link">Agregar</a>
                  <a href="#" class="card-link">Eliminar</a>
                </div>
              </div>
        </div>        
    </div>    
</div>
