<div class="container">
    <div class="btn-group">
        <button class="btn btn-primary" (click)="guardarCliente()">Guardar cliente</button>
        <button class="btn btn-primary" (click)="guardarProducto()">Guardar producto</button>

        <button class="btn btn-success" (click)="leer()">Leer</button>


        <button class="btn btn-danger" (click)="eliminarCliente()">Eliminar clientes</button>
        <button class="btn btn-danger" (click)="eliminarProducto()">Eliminar productos</button>
        <button class="btn btn-danger" (click)="eliminarTodo()">Eliminar todos</button>
    </div>


    <div *ngFor="let cliente of clientes" >
        <p>Cliente: {{ cliente.nombre }} {{ cliente.apellido }}, edad: {{ cliente.edad }}</p>        
    </div>    
   
    <div *ngFor="let producto of productos" >
        <p>Cliente: {{ producto.nombre }} {{ producto.precio | currency }}</p>           
    </div>
</div>