<div class="container mt-5"> 
    <form  class="form-group">        
        <input class="form-control" type="text"  placeholder="Buscar cliente">
    </form>
    <button class="btn btn-primary" [routerLink]="['/agregar-cliente']" >Agregar Cliente</button>

    <div class="row mt-5">
        <div class="col-sm-3 ">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nombre</h5> 
                  <h6 class="card-subtitle">Código</h6>                 
                  <p class="card-text">Dirección</p>
                  <a href="#" class="card-link">Agregar</a>
                  <a href="#" class="card-link">Información</a>
                </div>
              </div>
        </div>        
    </div>    
</div>
